body {
   min-height: 1000px;
   overflow: scroll;
}

.menu {
   background: #c0e8f2;
   width: 150px;
   padding: 10px;
   margin: 0;
   list-style: none;
   position: fixed;
   right: 30px;
   top: 200px;
}

.menu a {
   color: #0909eb;
}