body {
   margin: 0;
   height: 100%;
   width: 100%;
}

.green {
   background-color: #219b37;
   min-height: 400px;
}

.white {
   background: #ffffff;
   border: 3px solid #bbbbbb;
   width: 500px;
   height: 300px;
   position: relative;
   margin: auto;
   top: -550px;
}