body {
   background-color: #dddcdc;
}

form {
   position: absolute;
   left: 50%;
   right: 50%;
   width: 300px;
   background-color: #ffffff;
   padding: 40px;
}

h2 {
   text-align: center;
   font-variant: small-caps;
}

.profile_data {
   width: 100%;
   padding: 5px;
}

.checkbox {
   text-align: right;
   font-style: italic;
}

button {
   width: 100%;
   color: #ffffff;
   background-color: #ce7d3a;
   border: none;
   padding: 10px;
}